/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'poppins',sans-serif;
} */
 
.secSell{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    height: 150vh;
    background-image: url("../Seller/bg.jpg") ; 
    background-size:cover ; 
    background-position: center; 
    animation: animateBg 15s linear infinite;
    /* background: #d71d1d; */
}

@keyframes animateBg{
    100%{
        filter: hue-rotate(360deg);
    }
}

.Sell{
    position: relative;
    width: 500px;
    height: 800px;
    background:transparent;
    border: 2px solid rgba(255,255,255,.5);
    border-radius: 40px;
    box-shadow: 30px 25px 30px 10px black;
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;

}

h1{
    
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.Sell-box{
    position: relative;
    width: 410px;
    margin: 25px 0;
    border-bottom: 2px solid #fff;

}
.sell{
    position: relative;
    width: 410px;
    margin: 25px 0;
   
}

.imageU{
   display: block;
   /* margin-top: 20%; */
   
   padding: 10%;
    background-color: aqua;
}

.imgbtn{
    width: 300px;
    height: 50px;
    border-color: rgb(219, 151, 68);
    color: black;
    border: 4px inset rgb(219, 151, 68);
    border-radius: 30px;
    margin-top: 20px;
}

.imgbox{
    margin: 20px;
    /* border: 1px solid black; */
    padding: 10px;
}

.imgb{
    width: 90px;
    height: 30px;
    border-radius: 20px;
}

.filei{
    width: 300px;
    
}

.Sell-box label{
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    font-size: 1em;
    color: #fff;
    pointer-events: none;
    transition: .20s;
}
.Sell-box input:focus~label,
.Sell-box input:valid~label{
    top: -5px;
}


.Sell-box input{
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
    padding: 0 35px 0 5px;
}
.sell  input{
    font-size: 1em;
    color: #fff;
}
.sell label{
    color: #fff;
    font-size: 1em;
}

.Sell-box .icon{
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;

}

.logbtn{
    width: 100%;
    height: 40px;
    background: #fff;
    border:0px solid;
    outline: none;
    border-radius: 30px; 
    cursor: pointer;
    font-size: 20px;
    color: #151414;
    font-weight: 500;

}
.btn{
    border-radius: 10px;
}
.Donate-link{
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;

}
.Donate-link p a{
    color: #fff;
    margin-left: 5px;

}

@media(max-width :360){
    .Sell{
        width: 100%;
        height: 100vh;
        border: none;
        border-radius: 0;


    }
    .Sell-box{
        width: 290;
    }

}  

.sell .file{
    margin-left: 100px;
}

